h1{
    color: white;
    background-color: blue;
    /* margin: 20px; */
    padding: 20px;
    margin: 0;

    text-align: center;
}


.searchContainer{
    
    /* height: 1000px; */
}

.weatherText{
    padding:10px;
}

.weatherForm{
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.citySearchText{
    margin-left: 20px;
}


.historyContainer{
    background-color: brown;
    border-radius: 20px;
}


.forcastContainer{
    width: 80px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: blue;
    height: 250px;
    color: white;
}

.forcastDate{
    text-align: center;
}


.weatherContainerRow{
    height: 100%;
}

.weatherContainer{
    height: 800px;
    margin: 0;
    background-color: aqua;
    /* text-align: center; */
}

.weatherTodayDisplay{
    background-color: honeydew;
    height: 100%;
}

.todayDisplay{
    height: 200px;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    margin: auto;
    border: black solid;
    border-radius: 20px;
    /* text-align: center; */
    /* margin-top: 10px; */
    /* margin-top: 10px; */
}